In [5]:
import pandas as pd
calls = pd.read_csv('calls.csv', names=['src', 'dst', 'dt', 'dur'])

In [6]:
calls

              src            dst                   dt   dur
0     78130 00821    98453 94494  01-09-2016 06:01:12   186
1     78298 91466  (022)28952819  01-09-2016 06:01:59  2093
2     97424 22395  (022)47410783  01-09-2016 06:03:51  1975
3     93427 40118  (080)33118033  01-09-2016 06:11:23  1156
4     90087 42537  (080)35121497  01-09-2016 06:17:26   573
...           ...            ...                  ...   ...
5208  70129 62374    98441 32533  30-09-2016 23:42:28  1338
5209  98444 95768    99003 47921  30-09-2016 23:44:46   161
5210  95267 70383  (080)34121098  30-09-2016 23:49:32   914
5211  90368 95100  (080)29483476  30-09-2016 23:54:15  1288
5212  98447 62998  (080)46304537  30-09-2016 23:57:15  2151

[5213 rows x 4 columns]

In [24]:
b_calls = calls[calls['src'].str.startswith('(080)')]
b_calls

                src            dst                   dt   dur
6     (080)45291968    90365 06212  01-09-2016 06:30:36     9
11    (080)62164823    74066 93594  01-09-2016 06:52:07   300
17    (080)67362492  (04344)316423  01-09-2016 07:24:45  2258
21    (080)69245029  (044)49481100  01-09-2016 07:34:19     9
26    (080)47459867    98440 65896  01-09-2016 08:08:59  2147
...             ...            ...                  ...   ...
5191  (080)45687418    93414 19669  30-09-2016 21:23:20   812
5196  (080)45291968    90365 06212  30-09-2016 22:12:55  1754
5197  (080)62164823  (080)32255824  30-09-2016 22:21:26   793
5199  (080)67362492  (04344)316423  30-09-2016 22:30:29    74
5207  (080)62164823    74066 93594  30-09-2016 23:41:07   741

[1080 rows x 4 columns]

In [31]:
ac = []
for dst in b_calls['dst']:
    if dst.startswith('('):
        ac.append(dst.split(')')[0][1:])
    else:
        ac.append(dst[0:4])
print(len(ac))

1080

In [32]:
len(set(ac))

39

In [33]:
import csv
with open('texts.csv', 'r') as f:
    reader = csv.reader(f)
    texts = list(reader)

with open('calls.csv', 'r') as f:
    reader = csv.reader(f)
    calls = list(reader)

In [54]:
first = set([item[0] for item in calls])

In [56]:
len(first)

479

In [51]:
len(first)

5213

In [52]:
len(calls)

5213

In [53]:
len(set(first))

479

In [57]:
d = {}

In [58]:
d['1'] = 1
d['2'] = 2

In [59]:
d['2']

2

In [60]:
d.get('2')

2

In [66]:
x = d.get('3', 0)

In [67]:
print(x)

0

In [68]:
d['3']

KeyError: '3'

In [71]:
d['3'] = d.get('3', 0) + 3

In [72]:
d['3']

3

In [73]:
nums_called = []
num_080_originate = 0
num_080_orig_and_term = 0
for call in calls:  # O(n)
    if call[0].startswith('(080)'):
        num_080_originate += 1
        if call[1].startswith('('):
            dst_parts = call[1].split(')')
            ac = dst_parts[0][1:]
            if ac == '080':
                num_080_orig_and_term += 1
        else:
            ac = call[1][0:4]

        if ac not in nums_called:  # O(n)
            nums_called.append(ac)

nums_called.sort()  # O(nlogn), but outside the loop

In [74]:
# Part A
print('The numbers called by people in Bangalore have codes:')
print(*nums_called, sep='\n')

The numbers called by people in Bangalore have codes:
022
040
04344
044
04546
0471
080
0821
7406
7795
7813
7829
8151
8152
8301
8431
8714
9008
9019
9035
9036
9241
9242
9341
9342
9343
9400
9448
9449
9526
9656
9738
9740
9741
9742
9844
9845
9900
9961

In [75]:
# Part B
pct_local = num_080_orig_and_term / num_080_originate
print(f'{pct_local:.2%} percent of calls from fixed lines in Bangalore are calls ')
print('to other fixed lines in Bangalore.')

24.81% percent of calls from fixed lines in Bangalore are calls
to other fixed lines in Bangalore.

In [76]:
len(nums_called)

39

In [77]:
num_080_orig_and_term

268

In [83]:
nums_called = set()
num_080_originate = 0
num_080_orig_and_term = 0
for call in calls:  # O(n)
    if call[0].startswith('(080)'):
        num_080_originate += 1
        if call[1].startswith('('):
            dst_parts = call[1].split(')')
            ac = dst_parts[0][1:]
            if ac == '080':
                num_080_orig_and_term += 1
        else:
            ac = call[1][0:4]

        nums_called.add(ac)

print(*sorted(list(nums_called)), sep='\n')  # O(nlogn)

022
040
04344
044
04546
0471
080
0821
7406
7795
7813
7829
8151
8152
8301
8431
8714
9008
9019
9035
9036
9241
9242
9341
9342
9343
9400
9448
9449
9526
9656
9738
9740
9741
9742
9844
9845
9900
9961

In [84]:
candidates = set()
for call_orig in calls:
    caller = call_orig[0]
    found = False
    for call_term in calls:
        if caller == call_term[1]:
            found = True
            break
    if not found:
        for text in texts:
            if caller == text[0] or caller == text[1]:
                found = True
                break
    if not found:
        candidates.append(caller)

In [85]:
print(*sorted(set(candidates)), sep='\n')

(022)37572285
(022)65548497
(022)68535788
(022)69042431
(040)30429041
(044)22020822
(0471)2171438
(0471)6579079
(080)20383942
(080)25820765
(080)31606520
(080)40362016
(080)60463379
(080)60998034
(080)62963633
(080)64015211
(080)69887826
(0821)3257740
1400481538
1401747654
1402316533
1403072432
1403579926
1404073047
1404368883
1404787681
1407539117
1408371942
1408409918
1408672243
1409421631
1409668775
1409994233
74064 66270
78291 94593
87144 55014
90351 90193
92414 69419
94495 03761
97404 30456
97407 84573
97442 45192
99617 25274

In [86]:
print(*sorted(set(candidates)), sep='\n')

(022)37572285
(022)65548497
(022)68535788
(022)69042431
(040)30429041
(044)22020822
(0471)2171438
(0471)6579079
(080)20383942
(080)25820765
(080)31606520
(080)40362016
(080)60463379
(080)60998034
(080)62963633
(080)64015211
(080)69887826
(0821)3257740
1400481538
1401747654
1402316533
1403072432
1403579926
1404073047
1404368883
1404787681
1407539117
1408371942
1408409918
1408672243
1409421631
1409668775
1409994233
74064 66270
78291 94593
87144 55014
90351 90193
92414 69419
94495 03761
97404 30456
97407 84573
97442 45192
99617 25274

In [87]:
len(set(candidates))

43

In [94]:
candidates = set()
exclude = set()

for call in calls:  # O(n)
    candidates.add(call[0])
    exclude.add(call[1])

for text in texts:  # O(n)
    exclude.add(text[0])
    exclude.add(text[1])

print(*sorted(candidates - exclude), sep='\n')  # O(nlogn)

(022)37572285
(022)65548497
(022)68535788
(022)69042431
(040)30429041
(044)22020822
(0471)2171438
(0471)6579079
(080)20383942
(080)25820765
(080)31606520
(080)40362016
(080)60463379
(080)60998034
(080)62963633
(080)64015211
(080)69887826
(0821)3257740
1400481538
1401747654
1402316533
1403072432
1403579926
1404073047
1404368883
1404787681
1407539117
1408371942
1408409918
1408672243
1409421631
1409668775
1409994233
74064 66270
78291 94593
87144 55014
90351 90193
92414 69419
94495 03761
97404 30456
97407 84573
97442 45192
99617 25274